@import 'reset'
@import 'select.css'
@import 'notifications'

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  font-family: 'Helvetica', sans-serif
  background: #f9f9f9
  padding: 2em

h1
  font-size: 2em
  font-weight: bold

button, input[type=submit]
  border: none
  border-radius: 4px
  padding: 1em
  background: #F2205C
  text-align: center
  font-family: 'Helvetica', sans-serif
  font-weight: bold
  color: #FFF
  cursor: pointer
  margin: 0 4px 4px 0
  min-width: 8em
  &:hover
    background: #41416B

button, input[type=button]
  color: #FFF
  background: #41416B
  &:hover
    background: #F2205C

.warn
  background: #18C7EF
  &:hover
    background: #F2205C

.table
  header
    margin: 0 0 1em 0
    overflow: hidden
    h1
      float: left
    button
      float: right
      margin-left: 0.2em
  table
    clear: both
    width: 100%
    border-radius: 4px
  tr
    background: #F2F3F7
    cursor: pointer
    &:hover
      background: #41416B
      color: #fff
    &:first-child
      background: #241F3D
      color: #FFF
  td, th
    padding: 1em
    text-align: left

.sent-to
  margin-top: 80px
  float: left
  width: 100%
  h1
    float: left
  .send-button
    margin-left: 20px
    float: right
    background: #F2205C

.userconvo-table
  margin-top: 20px
  float: left
  width: 100%

.preview-warning
  padding: 20px
  width: 400px
  border: 1px solid black
  margin-bottom: 20px

.preview-message
  background: #4080FF
  border-radius: 1em
  padding: 1.5em
  min-width: 16em
  color: #fff
  line-height: 1.4
  float: right

form, .preview
  width: 50%
  float: left
  input[type=submit]
    width: 100%
    margin: 2em 0

.preview
  padding: 0 0 0 4em
  position: fixed
  right: 1em
  top: 16em
  h4
    margin-bottom: 1em

fieldset
  margin: 1em 0
label
  margin: 1em 0
  display: block
textarea
  resize: vertical
  min-height: 320px
  line-height: 1.4
  padding: 1em
  font-size: 1.2em
textarea, input[type=text], input[type=password]
  width: 100%
  display: block
  padding: 1em
  border: 1px solid #bbb
  &:focus
    background: #dcffdc

.action-var
  min-width: 1em
  min-height: 1em
  padding: 0.2em 0.4em
  display: inline-block
  background: #fdf8d8
  color: #222
  box-shadow: 2px 2px rgba(0,0,0,0.2)
  margin: 0.1em 0.3em
  border-radius: 0.4em
  cursor: pointer
  &:hover
    background: #dcffdc

.new-campaign
  padding: 20px
  font-size: 1em
  height: 60px
  background-color: #F2205C
  color: #FFF
  &:hover
    background: #41416B

.new-action
  padding: 20px
  font-size: 1em
  height: 60px
  background-color: #F2205C
  color: #FFF
  &:hover
    background: #41416B

.new-update
  padding: 20px
  font-size: 1em
  height: 60px
  background-color: #F2205C
  color: #FFF
  &:hover
    background: #41416B

.user-var
  font-style: italic
  color: rgba(255,255,255,0.6)

.meta
  margin: 0 0 2em 0
  line-height: 1.5

.main-header
  padding: 1em 0
  display: flex
  justify-content: space-between
  &-nav
    margin-bottom: 20px;
    a
      margin-left: 10px;

.breadcrumbs
  list-style: none

.breadcrumb
  display: inline
  color: #F45380

.breadcrumb-link
  color: #F45380

.campaign-action-preview-container
  width: 50%

.campaign-call-preview
  width: 100%
  h4
    margin-bottom: 1em
  input[type=submit]
    width: 100%
    margin: 2em 0

.campaign-action-statistics
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 50%

.campaign-action-statistic-label
  margin-bottom: 10px

.campaign-action-targeting
  h4
    margin-bottom: 1em

.pill
  background-color: #E9E8ED
  border: 1px solid #E3E2E7
  border-radius: 32px
  padding: 5px 15px
  width: initial
